# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Playwright browser session
browser_profile/

# Logs
logs/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment variables
.env